{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "value-keyword-case": null,
    "string-no-newline": null,
    "function-whitespace-after": null
  }
}